.board {
  position: relative;
  background: transparent;
  border: 2px solid hsl(15 70% 60%);
  width: 90%;
  height: auto;
  border-radius: toRem(15);
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  margin-block: toRem(10);
  overflow: hidden;
}