.index {
  @include flex-center;
  position: relative;
  @include font-set(clamp(30px, 5vw, 50px), 600);
  width: 100vw;
  height: 100dvh;
  background-image: linear-gradient(15deg, hsl(0 0% 75%), hsl(0 0% 50%));
  color: hsl(0 0% 15%);
  user-select: none;
}