.tools-bar {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: clamp(toRem(25), 5vw, toRem(40));
  margin-bottom: clamp(toRem(30), 5vw, toRem(40));
  background-color: hsl(0 0% 5% / 0.1);
  border-radius: toRem(20);
  box-shadow: 0 0 toRem(10) hsl(0 0% 5% / 0.2);
  width: 80%;
  height: clamp(toRem(40), 5vw, toRem(60));
  opacity: 0.75;
  display: flex;
  justify-content: flex-end;
  padding: 0 toRem(20);
  align-items: center;
  column-gap: toRem(15);

  .interact-buttons {
    display: flex;
    height: 80%;
    overflow: hidden;
    border-radius: toRem(25);
  }
}