.tools-bar {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: $tools-bar-margin-top;
  margin-bottom: $tools-bar-margin-bottom;
  background-color: hsl(0 0% 30%);
  width: 90%;
  height: $tools-bar-height;
  border-radius: toRem(40);
  opacity: 0.8;
  display: flex;
}