@use "sass:math";

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin transform-center {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
@mixin set-font($s, $w, $f: 'Sans-Serif') {
  font-size: $s;
  font-weight: $w;
  font-family: $f;
}
@mixin fluid-text($max: 48, $min: 16) {
  $maxViewportWidth: 1400;
  $minViewportWidth: 360;

  $maxSize: math.div($max, 16);
  $minSize: math.div($min, 16);
  $maxWidth: math.div($maxViewportWidth, 16);
  $minWidth: math.div($minViewportWidth, 16);

  $slope: math.div(($maxSize - $minSize), ($maxWidth - $minWidth));
  $yAxisIntersection: -$minWidth * $slope + $minSize;

  font-size: clamp(
    #{$minSize * 1rem},
    #{$yAxisIntersection * 1rem} + #{$slope * 100vw},
    #{$maxSize * 1rem}
  );
}